*.hdr
*.log
*.map
*.sublime-workspace
*~
.DS_Store
.idea/*
.parcel-cache
cache/*
dist
build
node_modules
standalone/*
tools/*.png
tools/dist
yarn.lock
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
